{% extends "homebase.html" %}
    {% block title %} Hakkımızda -  {{ setting.company }}{% endblock %}
    {% block keywords %}{{ setting.keywords }} {% endblock %}
    {% block description %}{{ setting.description }} {% endblock %}
    {% block head %}
        <link rel='shortcust icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
    {% endblock %}
{% block navbar %}


  {% include 'navbar.html' %}


{% endblock %}

{% block content %}
<div class="section">

<div class="container">

    <div class="row col-md-12" style="margin-top: 100px; background: whitesmoke;margin-bottom: 30px;">

      {{ setting.aboutus|safe }}

    </div>

</div>

</div>
{% endblock %}

